Pillow
numpy
py-flags==1.1.4
scikit-learn
scikit-image
guizero
opencv-python
pyopencl
SSIM-PIL
timecode
numba
tqdm
scenaristream @ git+https://github.com/cubicibo/ScenariStream
piliq @ git+https://github.com/cubicibo/piliq.git ; sys_platform == 'win32'
